!extra/
!extra/README.md
**/__pycache__
**/cmake_install.cmake
**/Makefile
*.bc
*.cl
*.cu
*.exe
*.ll
*.spv
*.spvasm
*.nvvm
*.out
*.dot
*.s
*.so
.DS_Store
.cache
.clangd
.vscode
build*/
.venv/
*.egg-info/
compile_commands.json
vgcore.*
assets/*.aux
assets/*.fdb_latexmk
assets/*.fls
assets/*.synctex.gz
assets/logo.log
assets/logo.pdf
extra/*
pyrightconfig.json
.zed
