!extra/
!extra/README.md
**/__pycache__
*.bc
*.cl
*.cu
*.egg-info/
*.exe
*.ll
*.nvvm
*.out
*.s
*.so
.DS_Store
.cache
.clangd
.claude/settings.local.json*
.venv/
.vscode
.zed
assets/*.aux
assets/*.fdb_latexmk
assets/*.fls
assets/*.synctex.gz
assets/logo.log
assets/logo.pdf
build*/
compile_commands.json
extra/*
pyrightconfig.json
vgcore.*
