{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
$(function()
{
    var question_list = {{ question_list|safe }};
    
    for(var i=0; i < question_list.length; i++)
    {
        $('#user_question_list').append('<div class=question_listed><h4><a href="questions/' + question_list[i].pk + '">' + question_list[i].title + '</a>  -  ' + question_list[i].user_tag + '</h4></div>');
    }
});
</script>
{% endblock %}

{% block content %}

<h2>Community</h2>

<p>This is the place where, if you are stuggling even after the tutorials, you can come to request additional help.</p>

<div id=user_question_list></div>

{% endblock %}