{% extends "base.html" %}

{% load user_inclusions %}

{% block head %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script> {# TODO look into other CDNs #}
<script type="text/javascript" charset="utf-8">

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

var current_element = null;

function upvote(element, type, id)
{
    current_element = element;
    $.ajax({
        type: "POST",
        url: "{% url 'community:rate_user_item' %}",
        data: ({rating: 'up', type: type, id: id}),
        error: function(response, textStatus){alert(response.responseText);},
        success: function(element){vote_success('up');},
    });
}
    
function downvote(element, type, id)
{
    current_element = element;
    $.ajax({
        type: "POST",
        url: "{% url 'community:rate_user_item' %}",
        data: ({rating: 'down', type: type, id: id}),
        error: function(response, textStatus){alert(response.responseText);},
        success: function(element){vote_success('down');},
    });
}

function vote_success(vote)
{
    element = current_element;
    rating_element = $("#" + element).parent().children(".rating");
    new_rating = parseInt($(rating_element).text());
    
    if(vote == 'up')
    {
        new_rating++;
    }
    else if(vote == 'down')
    {
        new_rating--;
    }
    else return false;
    
    $(rating_element).text(new_rating);
    return true;
}

$(function() {
    var csrftoken = $.cookie('csrftoken');
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    }); 
    
})
</script>
{% endblock %}


{% block content %}

<h2>Community</h2>

<div id="user_question">
<div id="inner_question">

{% usertag question.user %}

<div class="community_question_title_bar">
 <div class="arrows">
    <a id="questionup" class="upvote" onclick="upvote(this.id, 'Q', {{ question.pk }})">
        <img src="../../../static/img/arrowup.png" />
    </a> 
    <span class="rating">{{ question.rating }}</span> 
    <a id="questiondown" class="downvote" onclick="downvote(this.id, 'Q', {{ question.pk }})">
        <img src="../../../static/img/arrowdown.png" />
    </a>
</div>{{ question.title }}</div>

{% if question.lesson %}
    <h4>Lesson: <a href={% url 'lessons:read' lesson_name=question.lesson.name.split|join:'_' %}>{{ question.lesson.name }}</a></h4>
{% endif %}

{% if question.question %}
    <h4>Question: {{ displayQuestion.0 }}</h4>
    <h4>Answer: {{ displayQuestion.1 }}</h4>
{% endif %}

<p>{{ question.user_question|linebreaks }}</p>
<div class="timestamps">
<p>Created: {{ question.created|date:"H:i D d M Y" }} | Last Modified: {{ question.modified|date:"H:i D d M Y" }}</p>
</div>
</div>

{% for comment in q_comments %}
    <div id="question_comment{{ forloop.counter }}" class="user_comment">
    {% usertag comment.user %}
    <div class="arrows">
        <a id="comment{{ forloop.counter }}up" class="upvote" onclick="upvote(this.id, 'C', {{ comment.pk }})">
            <img src="../../../static/img/bl_arrowup.png" /> 
        </a>
        <span class="rating">{{ comment.rating }}</span>
        <a id="comment{{ forloop.counter }}down" class="downvote" onclick="downvote(this.id, 'C', {{ comment.pk }})">
            <img src="../../../static/img/bl_arrowdown.png" />
        </a>
    </div>
     <p>{{ comment.user_comment|linebreaks }}</p>
    <div class="timestamps"><p>Created: {{ comment.created|date:"H:i D d M Y" }} | Last Modified: {{ comment.modified|date:"H:i D d M Y" }}</p></div>
   
    </div>
{% endfor %}
</div>

<div id="user_answers">
{% for answer in answers %}
    <div id="answer{{ forloop.counter }}" class="user_answer">
    <div id="inner_answer">
    {% usertag answer.user %}
    <div class="arrows">
        <a id="answer{{ forloop.counter }}up" class="upvote" onclick="upvote(this.id, 'A', {{ answer.pk }})">
            <img src="../../../static/img/bl_arrowup.png" />
        </a>
        <span class="rating">{{ answer.rating }}</span>
        <a id="answer{{ forloop.counter }}down" class="downvote" onclick="downvote(this.id, 'A', {{ answer.pk }})">
            <img src="../../../static/img/bl_arrowdown.png" />
        </a>
    </div>
    <p>{{ answer.user_answer|linebreaks }}</p>
    <div class="timestamps"><p>Created: {{ answer.created|date:"H:i D d M Y" }} | Last Modified: {{ answer.modified|date:"H:i D d M Y" }}</p></div>
    </div>
    
    {# Need to find a better way to get data from 2D array or dict or whatever #}
    {% for c_list in a_comments %}
        {% if forloop.counter == forloop.parentloop.counter %}
            {% for comment in c_list %}
                <div id="answer_comment{{ forloop.counter }}" class="user_comment">
                {% usertag comment.user %}
                <div class="arrows">
                    <a id="comment{{ forloop.counter }}up" class="upvote" onclick="upvote(this.id, 'C', {{ comment.pk }})">
                        <img src="../../../static/img/bl_arrowup.png" />
                    </a>
                    <span class="rating">{{ comment.rating }}</span>
                    <a id="comment{{ forloop.counter }}down" class="downvote" onclick="downvote(this.id, 'C', {{ comment.pk }})">
                        <img src="../../../static/img/bl_arrowdown.png" />
                    </a>
                </div>
                <p>{{ comment.user_comment|linebreaks }}</p>
                <div class="timestamps"><p>Created: {{ comment.created|date:"H:i D d M Y" }} | Last Modified: {{ comment.modified|date:"H:i D d M Y" }}</p></div>
                
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    </div>
{% endfor %}
</div>

{% endblock %}