{% extends "base.html" %}

{% load user_inclusions %}

{% block head %}
{# JS file not used anymore but commented out to see functionality in case of reuse #}
{% comment %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "community/javascript/forum.js" %}"></script>
<script type="text/javascript">

$(function() 
{
	var question = {{ question|safe }};
	var answers = {{ answers|safe }};
	var question_comments = {{ q_comments|safe }};
    var answer_comments = {{ a_comments|safe }};
	
	initQuestionPage(question, answers, question_comments, answer_comments) //In forum.js
    
});

</script>
{% endcomment %}
{% endblock %}

{% block content %}

<h2>Community</h2>

<div id="user_question">
<div id="inner_question">

{% usertag question.user %}

<div class="community_question_title_bar">
 <div class="arrows"><img src="../../static/img/arrowup.png" /> 10 <img src="../../static/img/arrowdown.png" /></div>{{ question.title }}</div>

{% if question.lesson %}
    <h4>Lesson: <a href={% url 'lessons:read' lesson_name=question.lesson.name.split|join:'_' %}>{{ question.lesson.name }}</a></h4>
{% endif %}

{% if question.question %}
    <h4>Question: {{ displayQuestion.0 }}</h4>
    <h4>Answer: {{ displayQuestion.1 }}</h4>
{% endif %}

<p>{{ question.user_question|linebreaks }}</p>
<div class="timestamps">
<p>Created: {{ question.created|date:"H:i D d M Y" }} | Last Modified: {{ question.modified|date:"H:i D d M Y" }}</p>
</div>
</div>

{% for comment in q_comments %}
    <div id="question_comment{{ forloop.counter }}" class="user_comment">
     {% usertag comment.user %}
     <div class="arrows"><img src="../../static/img/bl_arrowup.png" /> 10 <img src="../../static/img/bl_arrowdown.png" /></div>
     <p>{{ comment.user_comment|linebreaks }}</p>
    <div class="timestamps"><p>Created: {{ comment.created|date:"H:i D d M Y" }} | Last Modified: {{ comment.modified|date:"H:i D d M Y" }}</p></div>
   
    </div>
{% endfor %}
</div>

<div id="user_answers">
{% for answer in answers %}
    <div id="answer{{ forloop.counter }}" class="user_answer">
    <div id="inner_answer">
    {% usertag answer.user %}
    <div class="arrows"><img src="../../static/img/bl_arrowup.png" /> 10 <img src="../../static/img/bl_arrowdown.png" /></div>
    <p>{{ answer.user_answer|linebreaks }}</p>
    <div class="timestamps"><p>Created: {{ answer.created|date:"H:i D d M Y" }} | Last Modified: {{ answer.modified|date:"H:i D d M Y" }}</p></div>
    </div>
    
    {# Need to find a better way to get data from 2D array or dict or whatever #}
    {% for c_list in a_comments %}
        {% if forloop.counter == forloop.parentloop.counter %}
            {% for comment in c_list %}
                <div id="answer_comment{{ forloop.counter }}" class="user_comment">
                {% usertag comment.user %}
                <div class="arrows"><img src="../../static/img/bl_arrowup.png" /> 10 <img src="../../static/img/bl_arrowdown.png" /></div>
                <p>{{ comment.user_comment|linebreaks }}</p>
                <div class="timestamps"><p>Created: {{ comment.created|date:"H:i D d M Y" }} | Last Modified: {{ comment.modified|date:"H:i D d M Y" }}</p></div>
                
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    </div>
{% endfor %}
</div>

{% endblock %}