body
{    
	font-family:arial;
	background-color:#9496ff;
	color:#000000;
	/*background-image:url(../img/stripes.jpg);*/
	background-image:url(../img/mimirbg.png);
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

h1
{
	font-size:50px;
	margin-bottom:10px;
}
	
h2	
{     

}

p	
{    
	text-indent:0px;
	padding-left:20px;        
}

body a:link, body a:visited, body a:hover, body a:active
{
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}

div#header {
	background-color:#ffffff;
	font-weight:bold;
	color:#000000;
	padding-top:5px;
	padding-bottom:5px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 18px;
	border-bottom-color:#999999;
	box-shadow:0px -3px 20px #000000;
}

.mimirtitle {
	float:left;
	position: absolute;
    /*top: 50%;
    /* adjust top up half the height of a single line */
    /*margin-top: -0.5em;
    /* force content to always be a single line */
	padding-left:10px;
	padding-top:2px;
	overflow:visible;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family:"Open Sans", sans-serif;
	font-size:12px;
}

.barnav {
	z-index:9999;
	float:right;
	padding-right:10px;
	font-size:12px;
	padding-top:2px;
}

.barnav ul{
	margin:0px;
	padding:0px;
	border:thin #333333
}
.barnav li {
	display:inline;
}

#search_form {
	float : right;
	width : auto;
	margin-top:-20px;
	margin-left:10px;
}

.barnav a:link,a:visited
{
	color:#333333;
	font-weight:bold;
	text-align:center;
	padding:6px;
	margin:1px;
	text-transform:uppercase;
	text-decoration:none;
}
.barnav a:hover, .barnav a:active {
	/* Gradient on hover, used http://gradients.glrzad.com/ to do it */
	background-image: linear-gradient(bottom, rgb(242,242,242) 9%, rgb(255,255,255) 51%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(242,242,242) 9%, rgb(255,255,255) 51%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(242,242,242) 9%, rgb(255,255,255) 51%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(242,242,242) 9%, rgb(255,255,255) 51%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(242,242,242) 9%, rgb(255,255,255) 51%, rgb(255,255,255) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.09, rgb(242,242,242)),
		color-stop(0.51, rgb(255,255,255)),
		color-stop(1, rgb(255,255,255))
	);
}


div#question
{
	border:2px solid;
	border-radius:25px;
	text-indent:20px;
}

div#profile
{
	border:2px solid;
	border-radius:25px;
	text-indent:20px;
}

div#full-stats
{
	border:2px solid;
	border-radius:25px;
	text-indent:20px;
}

div#activity
{
	border:2px solid;
	border-radius:25px;
	text-indent:20px;
	padding-bottom:20px;
}

div#activity-graph
{
	height:300px;
}

div#content {
	font-family:'Open Sans', sans-serif;
	background-color:#FFFFFF;
	margin-top:70px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:50em;
	padding:30px;
	padding-top:20px;
	padding-bottom:20px;
	border:thick #666666;
	box-shadow:0px 0px 40px rgba(0,0,0,0.6);
}

div#content ul {
	list-style-type: none;
	background-color:#EAFEE0;
	border:medium #CCCCCC;
	box-shadow:0px 0px 5px #000000;
	border-radius:5px;
	margin-left:10px;
	margin-right:auto;
	padding: 0px;
	text-align:center;
}

div#lesson-feedback
{
	margin-top:30px;
	padding: 10px;
	border:2px solid;
	border-radius:6px;
}

li.even {
	background-color:#8793E2;
	border-radius:5px;
}

li.odd {
	background-color:#EAFEE0;
	border-radius:5px;
}

.coursetitle{
	text-align:center;
	background-color:#333333;
	color:#FFFFFF;
	size:17;
	padding:20px;
}

.lessondescbox{
	border-top:thin solid #333333;
	min-height:90px;
	position:relative;
	overflow:hidden;
}

.lessontitle {
	display:table;
	float:left;
	width:200px;
	background-color:#F85C5C;
	padding:20px;
	top:0px;
	bottom:0px;
	position:absolute;
}
.lessontitle span {
	font-size:20px;
	width:260px;
	height:50px;
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
	bottom:0px;
}
.lessondesc {
	padding-left:250px;
	display:table;
}
.lessondesc span {
	height:90px;
	display:table-cell;
	vertical-align:middle;
}

/*

The following is just for community stuff:
#TODO migrate the community css over to a seperate .css file??

*/

.button {
	padding:20px;
	background-color:#2DD9E1;
	border-bottom:groove #3399FF;
	border-radius:4px;
	display:block;
	width:200px;
	text-align:center;
	margin-top:40px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	color:#FFFFFF;
	
	background-image: linear-gradient(bottom, rgb(128,217,213) 7%, rgb(67,204,204) 54%);
	background-image: -o-linear-gradient(bottom, rgb(128,217,213) 7%, rgb(67,204,204) 54%);
	background-image: -moz-linear-gradient(bottom, rgb(128,217,213) 7%, rgb(67,204,204) 54%);
	background-image: -webkit-linear-gradient(bottom, rgb(128,217,213) 7%, rgb(67,204,204) 54%);
	background-image: -ms-linear-gradient(bottom, rgb(128,217,213) 7%, rgb(67,204,204) 54%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(128,217,213)),
		color-stop(0.54, rgb(67,204,204))
	);
}

.button a:active { 
	background-image: linear-gradient(bottom, rgb(103,181,177) 7%, rgb(73,237,237) 54%);
	background-image: -o-linear-gradient(bottom, rgb(103,181,177) 7%, rgb(73,237,237) 54%);
	background-image: -moz-linear-gradient(bottom, rgb(103,181,177) 7%, rgb(73,237,237) 54%);
	background-image: -webkit-linear-gradient(bottom, rgb(103,181,177) 7%, rgb(73,237,237) 54%);
	background-image: -ms-linear-gradient(bottom, rgb(103,181,177) 7%, rgb(73,237,237) 54%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(103,181,177)),
		color-stop(0.54, rgb(73,237,237))
	);
}

#search {
	margin:0px;
}


#user_question
{
	background-color:#F4FFF0;
	border:3px solid;
	border-color:#D2E6D2
	border-radius:5px;
	text-indent:20px;
	padding-bottom:20px;
}

#user_question #inner_question
{
	position:relative;
}

.user_answer
{
	background-color:#FFECFF;
	margin-top:10px;
	margin-left:20px;
	margin-bottom:10px;
	border:3px solid;
	border-color:#D2E6D2
	border-radius:5px;
	text-indent:20px;
	padding-bottom:0px;
}

.user_answer #inner_answer
{
	position:relative;
}

.user_comment
{
	border:2px solid;
	border-radius:5px;
	text-indent:20px;
	padding-bottom:0px;
	position:relative;
	margin: 10px 5px 10px 50px;
	font-size:13px;
	background-color:#FCFFCE;
}
 
.usertag
{
	/*light green original: #C5FBB5 */
	background-color:#FFB7AE;
	border-bottom:thin #000000;
	top:0px;
	width:100%;
	height:23px;
	-webkit-box-shadow: 0px 5px 9px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    0px 5px 9px rgba(50, 50, 50, 0.1);
	box-shadow:         0px 5px 9px rgba(50, 50, 50, 0.1);
	border-radius-top-right:inherit;
	border-radius-top-left:inherit;
	z-index:100;
	overflow:visible;
	position:relative;
}

.usertag img {
	padding:2px;
	background-color:#ffffff;
	border:10px solid #FFB7AE;
	z-index:101;
	overflow:visible;
}

.usertag#white {
	background-color:#FAF9EB;
}
.usertag#white img {
	border:10px solid #FAF9EB;
}

.usertag#blue {
	background-color:#5F80D8;
}
.usertag#blue img {
	border:10px solid #5F80D8;
}

.usertag#green {
	background-color:#87F163;
}
.usertag#green img {
	border:10px solid #87F163;
}

.usertag#red {
	background-color:#FF6A6A;
}
.usertag#red img {
	border:10px solid #FF6A6A;
}

.usertag#black {
	background-color:#666666;
}
.usertag#black a:link, .usertag#black a:visited, .usertag#black a:hover, .usertag#black a:active {
	color:#F8F8F8;
}
.usertag#black img {
	border:10px solid #666666;
}

.usertag #user_avatar
{
	float:right;
	width:64px;
	margin-right:44px;
	border-bottom:30px #ffffff;
}

.question_listed
{
	position:relative;
	width:100%;
	height:100px;
	clear:both;
	overflow:hidden;
	margin:0 auto;
}

.community_question_title_bar{
	z-index:0;
	text-indent:0px;
	position:relative;
	width:100%;
	padding-bottom:20px;
	padding-top:20px;
	background:#727272;
	color:#CCCCCC;
	font-size:24px;
}

.community_question_title_bar p {
	text-indent:0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:1px;
}

.community_question_title_text {
	text-indent:20px;
}

.timestamps {
	margin-top:10px;
	color:#B5B5B5;
	text-align:right;
	font-style:italic;
	margin-right: 30px;
	margin-bottom:0px;
	padding-bottom:0px;
	vertical-align:bottom;
	margin-top:0px;
}

.arrows {
	/*background:#FF0000;
	border:thick #FF0000;
	vertical-align:middle;
	*/
	text-indent:0px;
	margin-left:10px;
	margin-right:10px;
	margin-top:-10px;
	padding:0px;
	float:left;
	position:relative;
	height:50px;
	width:80px;
}

.user_comment .arrows {
	margin-top:10px;
}
.user_answer .arrows{
	margin-top:10px;
}

.rating {
	position:absolute;
	margin-top:10px;
	text-align:center;
	width:40px;
	float:left;
}

.upvote {
	margin-left:0px;
	float:left;
}

.downvote{
	margin-right:0px;
	float:right;
}

/* Skill tree styling */

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}
