body
{    
	font-family:arial;
	background-color:#D7FECF;
	color:#000000;
	background-image:url(stripes.jpg);
}

h1
{
	font-size:50px;
	margin-bottom:10px;
}
	
h2	
{     

}

p	
{    
	text-indent:20px;        
}

body a:link,a:visited
{
	color:#FF9900;
}

div#header {
	background-color:#FFFFFF;
	font-weight:bold;
	color:#333333;
	padding-top:5px;
	padding-bottom:5px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 23px;
    border-bottom:2px solid;
    border-bottom-color:#999999;
    box-shadow:0px -3px 20px #000000;
}

.mimirtitle {
	float:left;
	position: absolute;
    top: 50%;
    /* adjust top up half the height of a single line */
    margin-top: -0.5em;
    /* force content to always be a single line */
	padding-left:10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family:"Open Sans", sans-serif;
    font-size:15px;
}

.barnav {
	z-index:9999;
	float:right;
	padding-right:10px;
	font-size:13px;
	padding-top:5px;
}

.barnav ul{
	margin:0px;
	padding:0px;
	border:thin #333333
}
.barnav li {
	display:inline;
}

.barnav a:link,a:visited
{
	color:#333333;
	font-weight:bold;
	text-align:center;
	padding:6px;
	margin:1px;
	text-transform:uppercase;
	text-decoration:none;
}
.barnav a:hover, a:active {
	/* Gradient on hover, used http://gradients.glrzad.com/ to do it */
	background-image: linear-gradient(bottom, rgb(242,242,242) 9%, rgb(255,255,255) 51%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(242,242,242) 9%, rgb(255,255,255) 51%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(242,242,242) 9%, rgb(255,255,255) 51%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(242,242,242) 9%, rgb(255,255,255) 51%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(242,242,242) 9%, rgb(255,255,255) 51%, rgb(255,255,255) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.09, rgb(242,242,242)),
		color-stop(0.51, rgb(255,255,255)),
		color-stop(1, rgb(255,255,255))
	);
}


div#question
{
	border:2px solid;
	border-radius:25px;
	text-indent:20px;
}

div#profile
{
	border:2px solid;
	border-radius:25px;
	text-indent:20px;
}

div#full_stats
{
	border:2px solid;
	border-radius:25px;
	text-indent:20px;
}

div#activity
{
	border:2px solid;
	border-radius:25px;
	text-indent:20px;
	padding-bottom:20px;
}

div#content {
	font-family:'Open Sans', sans-serif;
	text-align:center;
	background-color:#FFFFFF;
	margin-top:70px;
	margin-left:auto;
	margin-right:auto;
	width:50em;
	padding:30px;
	padding-top:10px;
	border:thick #666666;
	border-radius: 15px;
	
	box-shadow:0px 0px 10px #000000;
}

div#content ul {
	list-style-type: none;
	background-color:#EAFEE0;
	border:medium #CCCCCC;
	box-shadow:0px 0px 5px #000000;
	border-radius:5px;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	padding: 0px;
}
