{% extends "base.html" %}

{% block head %}
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/excanvas.min.js"></script><![endif]-->
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.time.min.js"></script>
	<script type="text/javascript">
	$(function() 
	{
	
		var lessons = {{ lessons|safe }};
		var questions = {{ questions|safe }};
		
		$.plot($("#placeholder"), [{label: 'Lessons', data: lessons}, {label: 'Questions', data: questions }], {yaxis: { minTickSize: 1 }, xaxis: { mode: "time", timeformat: "%d/%m/%Y"}, legend: {show: true}});
	});
	</script>
{% endblock %}

{% block content %}

{% if cur_user %}
	<div id=profile>
		<h2>Personal Details <a href="{% url 'editprofile' %}">(edit)</a></h2>
		<p><img src="http://www.gravatar.com/avatar/{{ cur_user_p.gravatar_hash }}?s=64&amp;d=identicon" /> {# TODO maybe https?! #}
		{{ cur_user.first_name }} {{ cur_user.last_name}} ({{ cur_user.username }})</p>
		<p>Tagline: {{ cur_user_p.caption }}</p>
		<p>Website: <a href="{{ cur_user_p.website }}">{{ cur_user_p.website }}</a></p>
		<p>Joined: {{ cur_user.date_joined }}</p>
		<p>About: {{ cur_user_p.about }}</p>
	</div>
	<div id=full_stats>
		<h2>Statistics</h2>
		<p>Lessons Taken: {{ num_lessons }}</p>
		<p>Unique Lessons Taken: {{ unique_lessons }}</p>
		<p>Questions Answered: {{ num_answered }}</p>
		<p>Percent Correct: {{ percent_correct }}%</p>
		<p>Most Common Mistakes</p>
		<p>Community questions asked: {{community_questions }}</p>
		<p>Community questions answered: {{ community_answers }}</p>
		<p>Community comments posted: {{ community_comments }}</p>
	</div>
	<div id=activity>
		<h2>Activity Graph</h2>
		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder" style="height:300px"></div>
		</div>
	</div>
{% else %}
    <p>User profile not working.</p>
{% endif %}

{% endblock %}
