<div id="usertag">
{# TODO: Change to typical URL system #}
    <a href="../../users/{{ profile.user.username }}">
        <div id="user_avatar">
            <img src="http://www.gravatar.com/avatar/{{ profile.gravatar_hash }}?s=64&d=identicon" /> {# TODO maybe https?! #}
        </div>
        <div id="user_details">
            <p>{{ profile.user.username|upper }}</p>
            <p>Perhaps a caption?</p>
        </div>
        <div id="user_rating">
            <p>506</p>
        </div>
    </a>
</div>