<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/default.css">
    <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({   
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
        }
    }); //TODO see if we can change mathjax font here, looks very bold at present
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> {# TODO look into other CDNs #}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <script>
        $(function()
        {            
            $('#search_form').submit(function(e) 
            {
                e.preventDefault();
                if ($('#search').val() == "") return false;
                window.location.href = "/search/" + $('#search').val().split(" ").join("_") + "/";
                return false;
            });
        });    
    </script>
    {% block head %}
    {% endblock %}
    <title>Mimir - A new way to learn online</title>
</head>

<body>
    {% block header %}
    
    <div id="header">
    
    <div class="barnav">
    	<ul>
                <li><a href="/home/">Home</a></li>
                <li><a href="http://mimirteam.wordpress.com">Blog</a></li>
                <li><a href="/lessons/">Lessons</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/skills/">Skill Tree</a></li>
                    <li><a href="/community/">Community</a></li>
                    <li><a href="/users/">Users</a></li>
                {% endif %}
                <li> | </li>
                
                {% if user.is_authenticated %}
                    <li> <a href="{% url 'profile' %}">{{ user.username }}</a> </li>
                    <li> <a href="{%url 'logout' %}">log out</a> </li>
                {% else %}
                	<li> <a href="{% url 'login' %}">log in</a> </li>
                    <li> <a href="{% url 'register' %}">sign up</a> </li>
                {% endif %}
            </ul>
    </div>
    
    <div class="mimirtitle"> MIMIR: A new way to learn online 
    <form id="search_form">
        <input id="search" type="search" placeholder="Search Mimir">
    </form>
    </div>
    
    
    </div>
    
    {% endblock %}
	
    <div id="content">
        {% block content %}
        <p>This should probably never show up, if you are seeing this page, either we are still in development or you have found a bug. Email us about it!</p>
        {% endblock %}
    </div>
</body>
</html>
