<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/default.css">
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> {# TODO look into other CDNs #}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
    <title>Mimir - A new way to learn online</title>
</head>

<body>
    <div id="header">
    <h1>Mimir: A new way to learn online</h1>
        {% if user.is_authenticated %}
            <p>Welcome, <a href="{% url 'user_profiles:view' user.username %}">{{ user.username }}</a> <a href="{%url 'logout' %}">(log out)</a>.</p>
        {% else %}
            <p>Please <a href="{% url 'login' %}">log in</a>, or <a href="{% url 'user_profiles:register' %}">sign up</a>.
        {% endif %}

        <div id="nav">
            <ul>
                <li><a href="/home/">Home</a></li>
                <li><a href="http://mimirteam.wordpress.com">Blog</a></li>
                <li><a href="/lessons/">Lessons</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_profiles:view' user.username %}">My Profile</a></li>
                    <li><a href="/skills/">My skill tree</a></li>
                    <li><a href="/users/">Users</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div id="content">
        {% block content %}
        <p>This should probably never show up, if you are seeing this page, either we are still in development or you have found a bug. Email us about it!</p>
        {% endblock %}
    </div>
</body>
</html>
