{% extends "base.html" %}

{% block content %}
<p>Welcome to Mimir, a new way to learn online. The site is still undergoing heavy development at the moment, this is really just a test page.</p>
<p>Inline math test: \( \left( \frac{a}{b} \right) ^{2} \)</p>

{% if user_lessons %}
    <h4>My Skills</h4>
    <ul>
    {% for lesson in user_lessons %}
        <li><a href="{% url 'lessons:read' lesson.name.split|join:'_' %}">{{ lesson.name }}</a></li> {# TODO get taken date / other info to appear here #}
    {% endfor %}
    </ul>
    <h4>Whats Next</h4>
    {% for lesson in whats_next %}
        <li><a href="{% url 'lessons:read' lesson.name.split|join:'_' %}">{{ lesson.name }}</a></li> {# TODO get taken date / other info to appear here #}
    {% endfor %}
{% endif %}
{% endblock %}
