{% extends "base.html" %}

{% block content %}
<h1>Welcome to Mimir</h1>
<h2>A new way to learn online</h2>
<p>The site is still undergoing heavy development at the moment, this is really just a test page.</p>
<p>Inline math test: \( \left( \frac{a}{b} \right) ^{2} \)</p>

{% if user_lessons %}
    <h4><a href="{% url 'myskills' %}">My Skills</a></h4>
    <ul>
    {% for lesson in user_lessons %}
        <li class="{% cycle 'even' 'odd' %}"><a href="{% url 'lessons:read' lesson.name.split|join:'_' %}">{{ lesson.name }}</a></li> {# TODO get taken date / other info to appear here #}
    {% endfor %}
    </ul>
    <h4><a href="{% url 'whatsnext' %}">What's Next</a></h4>
    <ul>
    {% for lesson in whats_next %}
        <li><a href="{% url 'lessons:read' lesson.name.split|join:'_' %}">{{ lesson.name }}</a></li> {# TODO get taken date / other info to appear here #}
    {% endfor %}
    </ul>
    {% if test_me_active %}
        {% for lesson in test_me %}
            <a href="{% url 'lessons:rand_question' lesson_name=lesson.name.split|join:'_' %}">Test me</a>
        {% endfor %}
    {% else %}
        <p>No test me function atm soz babz :(</p>
    {% endif %}
{% endif %}
{% endblock %}
