{% extends "base.html" %}

{% load user_inclusions %}

{% block content %}
<h2>Search: "{{ search_term }}"</h2>

<div id="lesson_search">
    <h3>Lessons</h3>
    {% for lesson in lessons %}
        <p><a href="{% url 'lessons:read' lesson.url %}">{{ lesson.name }}</a> - {{ lesson.description }}</p>
    {% endfor %}
</div>

<div id="community_search">
    <h3>Community</h3>
    {% for question in questions %}
        <div class="question_listed">
            {% usertag question.user %}
             <div class="question_title">
             <a href="{% url 'community:question' question.pk %}">
                <h4>{{ question.title }}</h4>
             </a>
            </div>
        </div>
{% endfor %}
</div>

<div id="user_search">
    <h3>Users</h3>
    {% for user in users %}
        <p><a href="{% url 'user_profiles:view' user.username %}">{{ user.username }}</a></p>
    {% endfor %}
</div>

{% endblock %}
