{% extends "base.html" %}

{% block content %}

<h2>Lessons</h2>
{% if course_list %}
    
    {% for course in course_list %}
        <div class="coursetitle">
            {{ course.name }} 
            </div>
              {% for lesson in course.lesson_set.all %}
                <div class="lessondescbox">
                    <a href="{% url 'lessons:read' lesson.url %}"><div class="lessontitle"><span>{{ lesson.name }}</span></div></a>
              	      <div class="lessondesc"> {{ lesson.description }}</div>
               	   </div>
               {% endfor %}
            <br />
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No lessons atm soz bbz</p>
{% endif %}

{% endblock %}
