{% extends "base.html" %}

{% block content %}

<h2>Lessons</h2>
{% if course_list %}
    <ul>
    {% for course in course_list %}
        <li>
            {{ course.name }} 
            <ul>
                {% for lesson in course.lesson_set.all %}
                    <li><a href="{% url 'lessons:read' lesson.url %}">{{ lesson.name }}</a> {{ lesson.description }}</li>
                {% endfor %}
            </ul>
            <br />
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No lessons atm soz bbz</p>
{% endif %}

{% endblock %}
