{% extends "base.html" %}

{% block content %}

{% if lesson %}
    <h2>{{ lesson.name }}</h2>
    <p>{{ lesson.tutorial }}</p>
    {% if example_list %}
        <h3>Worked examples</h3>
        {% for example in example_list %}
            <p>Problem: {{ example.problem }}</p>
            <p>Solution: {{ example.solution }}</p>
        {% endfor %}
    {% else %}
        <p>No worked examples are available for this lesson.</p>
    {% endif %}
    {% if first_question %}
        <a href="{% url 'lessons:question' lesson_id=lesson.id question_id=first_question.id %}">Test me</a>
    {% else %}
        <p>No questions for this lesson.</p>
    {% endif %}
	<h4>Next Lessons</h4>
    {% if next_lessons %}
		<ul>
        {% for lesson in next_lessons %}
            <li><a href="{% url 'lessons:read' lesson.leads_to.id %}">{{ lesson.leads_to.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Follow up lessons, I am really sorry and hope that you can find it in your hearts of hearts to forgive me. :( (a)</p>
    {% endif %}
	
{% else %}
    <p>Lesson not working.</p>
{% endif %}

{% endblock %}
