{% extends "base.html" %}

{% load markup %}

{% block head %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script> {# TODO look into other CDNs #}
<script type="text/javascript">
var rating = 0;
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$(function() {
    $('#rating-thanks').hide();
    var csrftoken = $.cookie('csrftoken');
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    
    $('#rate').click(function() {
    if (rating != 0)
    {
        $.ajax({
            type: "POST",
            url: "{% url 'lessons:rate_lesson' lesson.id %}",
            data: ({rating: rating, comment: $('#comment').val(),}),
        });
        $('#lesson-feedback').slideUp();
        $('#rating-thanks').slideDown();
        //$('#rate').prop('value', comment);
    }
});})
</script>
{% endblock %}

{% block content %}

{% if lesson %}
    <h2>{{ lesson.name }}</h2>
    Part of the course on {{ lesson.course.name }}.
    {{ lesson.tutorial|markdown:"safe" }}
	
    {% for ref in lesson.lessonreferencesreference_set.all %}
        <i>Material taken from <a href="{{ ref.reference.url }}">{{ ref.reference.name }}</a> by {{ ref.reference.author }}</i><br />
    {% endfor %}
	
    {% if lesson.example_set.all %}
        <h3>Worked examples</h3>
        {% for example in lesson.example_set.all %}
            <p>Problem: {{ example.problem }}</p>
            <p>Solution: {{ example.solution }}</p>
        {% endfor %}
    {% else %}
        <p>No worked examples are available for this lesson.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <div id=lesson-feedback>
            <p>Enjoyed the lesson? Anything you would change? Let us know by rating it.</p> {# TODO extend all this to include comments and lay it out nicely #}
            <input type="radio" onclick="rating=this.value" value="1" name="rate">1
            <input type="radio" onclick="rating=this.value" value="2" name="rate">2
            <input type="radio" onclick="rating=this.value" value="3" name="rate">3
            <input type="radio" onclick="rating=this.value" value="4" name="rate">4
            <input type="radio" onclick="rating=this.value" value="5" name="rate">5
		    <p>Comment: <input type="text" id="comment"> </p>
            <input type="button" value="Rate" id="rate">
        </div>
        <div id=rating-thanks>
	    <p>Thank you for rating!</p>
        </div>
    {% endif %}

    {% if questions_exist %}
        <a class="button" href="{% url 'lessons:rand_question' lesson.url %}">Test me</a>
    {% else %}
        <p>No questions for this lesson.</p>
    {% endif %}

    <h4>Next Lessons</h4>
    {% if next_lessons %}
        <ul>
        {% for lesson in next_lessons %}
            <li><a href="{% url 'lessons:read' lesson.leads_to.url %}">{{ lesson.leads_to.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No follow up lessons are available at the moment.</p>
    {% endif %}
	
{% else %}
    <p>Lesson not working.</p>
{% endif %}

{% endblock %}
